.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 50px;
}

.keyboard-row {
  display: flex;
  gap: 6px;
}

.key {
  min-width: 40px;
  height: 45px;
  padding: 0 6px;
  border: none;
  border-radius: 6px;
  background-color: #818384;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.key:hover {
  background-color: #9ca3a3;
}

.key:focus {
  outline: none;
}

.key.special-key {
  min-width: 65px;
  font-size: 12px;
}

.key.correct {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.key.present {
  background-color: var(--secondary-color);
}

.key.absent {
  background-color: #3a3a3c;
}